 .MainContainer{
	margin-left:15%;
	margin-right:20%;
	margin-top:5%; 
    width:70%;
    border:1px solid whitesmoke;
    padding:5px;
	display:flex;
	position:absolute;
 }
 .FirstSection{
	 height:494px;
	 width:50%;
     color: whitesmoke;
     background: seagreen;
     font-family: sans-serif;
 }
 .SecondSection{
	 height:494px;
	 width:50%;
	 overflow-y: auto;
    overflow-x:hidden; 
 }
 .required{
    color:red;  
}
legend{
	font-size:25px;
	color:seagreen;
}
form{
	font-style: 'Times New Roman', Times, serif;
	font-size:20px;
}
input[type=text],[type=email],[type=password],select{
    float: right;
    width: 40%;
    margin: 2 40 0 0;
    border: none;
    border-bottom: 2px solid seagreen; /*rgba(0, 89, 255, 0.63)*/
}
#radiomale{
	height:10px;
	margin-left:30%;
}
#radiofemale,#radioothers{
	height:10px;
	margin-left:49.8%;	
}
h1{
	margin-top:40%;
	margin-left:15%;
	font-family:Verdana,sans,sans-serif;
	font-size:30;
}
i{
	margin-left:18%;
	font-size:1.5em;
}
p{
	color:seagreen;
}
body{
	margin:0;
	padding:0;
	background:#230029;
}
#particles-js{
	height:100vh;
	position:relative;
}
#image{
	width:30%;
	height:30%;
}
.btn{
    background-color: seagreen;
    width:20%;
    height:8%;
    margin-left:70%;
    margin-top:10px;
    color:white;
    font-size:20px;
    /* border:2px solid rgba(0, 89, 255, 0.63); */
}
#note{
	color:red;
}