*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  color: #555;
  font-family: sans-serif;
  height: 100%;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #65b1bf;
  transition: 0.3s;
}

p {
  margin: 0 0 5px;
}

#wrapper {
  display: flex;
  height: 100vh;
}
#user-message-container-list{
  height:80%;
  overflow-y:scroll;
}
#content {
  flex: 0 1 100%;
  background-color: #eee;
  padding: 15px;
  display:none;
}

#left-sidebar {
  flex: 0 0 350px;
  background-color: #65b1bf;
  padding: 5px;
  height:100vh;
  overflow-y: scroll;
}
#left-sidebar .search {
  position: relative;
}
#left-sidebar .search .field {
  background-color: #89c3ce;
  border-color: #89c3ce;
  color: #fff;
}
#left-sidebar .search .field::-webkit-input-placeholder {
  color: #fff;
}
#left-sidebar .search .field::-moz-placeholder {
  color: #eee;
}
#left-sidebar .search .field:-ms-input-placeholder {
  color: #eee;
}
#left-sidebar .search .field:-moz-placeholder {
  color: #eee;
}
#left-sidebar .search .btn {
  position: absolute;
  top: 50%;
  right: 0;
  background: none;
  border: none;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contactList > li ~ li {
  border-top: 1px solid #479baa;
}
.contactList > li .avatar {
  padding-right: 5px;
  flex: 0 0 50px;
}
.contactList > li p {
  margin: 0;
}
.contactList > li .status {
  font-size: 0.8rem;
  color: #ddd;
}
.contactList > li > a {
  display: flex;
  align-items: center;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contactList > li > a:hover {
  background-color: #53a8b8;
}
.contactList > li > a img {
  border-radius: 50%;
  border: 1px solid #fff;
  max-width: 100%;
  height: auto;
  line-height: 1;
}

.user-message-container {
  margin-bottom: 5%;
  display: flex;
  width:50%;
}
#users-container{
  height:80%;
}
.user-message-avatar {
  margin-right: 10px;
  flex: 0 0 40px;
}
.user-message-avatar img {
  border-radius: 50%;
  max-width: 100%;
  display: block;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}

.user-message {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.user-name {
  display: block;
  font-weight: 600;
}

.user-date {
  display: block;
  margin-top: 5px;
  font-style: italic;
  font-size: 12px;
}
.field {
  width: 100%;
  display: block;
  padding: 7px 10px;
  line-height: 1.5;
  outline: none;
  transition: 0.3s;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  padding: 7px 10px;
  border: 1px solid #eee;
  background-color: #eee;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: #d5d5d5;
}

.userDisplay{
  display: flex;
  align-items: center;
  color: #fff;
}
#userProfile img
{
  border-radius: 50%;
  max-width:25%;
  margin-right:4%;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}
#profileUpdate{
margin-top: 5%;
padding: 2%;
line-height: 2.5;
}
#uploadPic{
  display: block;
  color: white;
}
#updateButton,#uploadBtn{
  margin-top:2%;
  background-color: #555;
  color:white;
  border-radius: 12px;
  font-size:15px;
  text-decoration: none;
  cursor: pointer;
  display:block;

}
#uploadBtn{
  display: inline;
  background-color: white;
    color: black;
}
#list{
  margin-left:10%;
  padding:5%;
  color:whitesmoke;
  font-size:15px;
}
.noContactMsg{
  color:whitesmoke;
  padding:5%;
  font-size:15px;
}
.lastRow{
  border:2px solid black;
  position: fixed;
  bottom:0;
  height: 8%;
  width:320px;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  display:flex;
}
#addContacts,#logout{
  border: 2px solid #808080;
  width: 50%;
}

.lastRowButtons{
  width: 100%;
  height: 100%;
  background-color: #808080;
  text-decoration: none;
}
.lastRowButtons a{
  text-decoration:none;
  color:#ffff;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    height:80%;
    overflow-x:auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ffa50085;
    color: white;
}

.modal-body {padding: 2px 16px;
    margin-top:5%;
}


.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ffa50085;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.example button:hover {
  background: tan;
}

.example::after {
  content: "";
  clear: both;
  display: table;
}
.chatHeader{
  margin:0;
  width:100%;
  /* height:10%; */
  border-bottom:2px solid grey;
  margin-bottom:5%;
}
.chatHeader img{
  border-radius: 50%;
  height:50px;
}
.chatHeader button{
  margin-left:50%;
}

.message-input
{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.message-input wrap{
position: relative;
}
#wrapInput{
  width:40%;
  padding:1%;
}
.submit{
  padding:1%;
}
#searchedContacts{
  padding:5%;
}
input[type=file]{
  width: 60%;
  background-color: white;
  padding: 2% 2% 2% 0;
}
#profileUpdate input[type=text]{
  padding:2%;
  margin-top:2%;
}
#pdfBtn{
  border-radius: 50%;
  padding: 2%;
  background: rgba(219, 145, 6, 0.925);
  float: right;
  color:black;
}