.required{
    color:red;
}
h1{
  text-align: center;
  color:rgb(75, 162, 196);
}

form{
    display: block;
    border-bottom: 4px;
    border-right:4px;
    padding: 10px; 
    width:60%;
    background: linear-gradient(to bottom right, lightblue, lightgreen);

    margin-left: 20%;
    margin-right: 20%;
}
button{
    background-color:rgb(75, 162, 196);
    height: 40px;
    width:90px ;
    font-size:20px;
    margin-left: 45%;
}
#note{
    float:right;
    color:red;
}
body{
    background-color: whitesmoke;
}
